body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  display: flex;

  .header {
    flex: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;

    & > div {
      text-align: left;

      h1 {
        font-size: 3em;
      }
    }
  }
  .form {
    max-width: 400px;
    min-width: 200px;
    background-color: white;
    width: 33% !important;
    border-radius: 30px 0 0 30px;
  }
}
